.form {
  border: 1px solid grey;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 30px;
  margin-top: 20px;
}

.input {
  border-radius: 2px;
  display: block;
  margin: 3px 0 20px 0;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid darkgrey;
  font-size: 20px;
}

.input:focus {
  outline-color: rgb(15, 161, 167);
}

.btn {
  height: 30px;
  align-self: center;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 200ms linear;
  color: rgb(73, 104, 104);
}
.btn:hover {
  background-color: teal;
  color: white;
}
