.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: rgba(133, 228, 196, 0.247);

  & h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(66, 131, 109, 0.911);
    margin: 0;
    font-size: 32px;
  }
}

.message {
  font-size: 16px;
  color: rgba(66, 131, 109, 0.911);
  text-transform: uppercase;
  text-align: center;
}
