.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;

  display: flex;
  gap: 15;
}
.phone {
  font-weight: 400;
}
.btn {
  padding: 2px 10px;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 200ms linear;
  color: rgb(73, 104, 104);
}
.btn:hover {
  color: white;
  background-color: teal;
}

.text {
  margin: 0;
}
